@model IEnumerable<RestaturanProje.Models.Menu>

@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_ALayout.cshtml";
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/pato-master/images/bg-title-page-01.jpg); ">
    <h2 class="tit6 t-center">
        Menü Listesi
    </h2>
</section>

<div class="section-gallery p-t-118 p-b-100">
    @await Component.InvokeAsync("CategoryList")

    <div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events guests">
            <img src="/pato-master/images/photo-gallery-13.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-13.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
            <img src="/pato-master/images/photo-gallery-14.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-14.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
            <img src="/pato-master/images/photo-gallery-15.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-15.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
            <img src="/pato-master/images/photo-gallery-16.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-16.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
            <img src="/pato-master/images/photo-gallery-17.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-17.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior guests">
            <img src="/pato-master/images/photo-gallery-18.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-18.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior">
            <img src="/pato-master/images/photo-gallery-19.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-19.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior">
            <img src="/pato-master/images/photo-gallery-20.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-20.jpg" data-lightbox="gallery"></a>
            </div>
        </div>

        <!-- - -->
        <div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
            <img src="/pato-master/images/photo-gallery-21.jpg" alt="IMG-GALLERY">

            <div class="overlay-item-gallery trans-0-4 flex-c-m">
                <a class="btn-show-gallery flex-c-m fa fa-search" href="images/photo-gallery-21.jpg" data-lightbox="gallery"></a>
            </div>
        </div>
    </div>

    <div class="pagination flex-c-m flex-w p-l-15 p-r-15 m-t-24 m-b-50">
        <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
        <a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
        <a href="#" class="item-pagination flex-c-m trans-0-4">3</a>
    </div>
</div>

<section class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url(/pato-master/images/header-menu-01.jpg);">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">
                Lunch
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row p-t-108 p-b-70">
            @foreach (var item in Model)
            {
                <div class="col-md-12 col-lg-6 ">
                    <!-- Block3 -->

                    <div class="blo3 flex-w flex-col-l-sm m-b-30">
                        <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                            <a><img src="@item.Image" alt="IMG-MENU"></a>
                        </div>

                        <div class="text-blo3 size21 flex-col-l-m">
                            <a class="txt21 m-b-3">
                                @item.Title
                            </a>

                            <span class="txt23">
                                @item.Description
                            </span>

                            <span class="txt22 m-t-20">
                                @item.Price TL
                            </span>
                        </div>

                    </div>



                </div>
            }

        </div>
    </div>
</section>